body {
    margin: 0 auto;
    background-color: #000;
    color: #fff;
    font-size: 14px;
}

h1, h2, .intro-heading {
    font-family: var(--heading-font-family);
    text-align: center;
    margin: 0;
    line-height: 1.1;
}

h1 {
    font-size: 50px;
    font-weight: 600;
}

h2 {
    font-size: 32px;
}

p, .faq-answer, .faq-common {
    font-size: 16px;
    line-height: 150%;
    font-family: var(--default-font-family);
}

:root {
    --primary-color: #212121;
    --secondary-color: #6D9886;
    --heading-font-family: 'Karma', serif;
    --default-font-family: 'Open Sans', sans-serif;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

/* ---HEADER--- */
.hero-text-box {
    margin: 40px 20px 50px;
}

.intro-heading {
    font-size: 32px;
}

.heading {
    margin-top: 20px;
}

.description {
    text-align: center;
    font-weight: 300;
    margin-top: 25px;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/images/holdhands_vitiligo_bw_v2.jpg);
    background-size: cover;
    background-position: center;
}

.faqs-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/images/handshake_vitiligo_v2.jpg);
    background-size: cover;
    background-position: center;
}

.about-heading {
    text-align: left;
}

/* ---BUTTONS--- */
.ctas {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.ctas a {
    margin: 20px;
    border-radius: 10px;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
}

.btn {
    outline: none;
}

.btn:focus {
  outline: none !important;
}

.btn:focus {
  box-shadow: none;
}

.btn-full:link, .btn-full:visited {
    background-color: #fff;
    color: #000;
}

.btn-full:hover, .btn-full:active {
    background-color: var(--primary-color);
    color: #fff;
}

.btn-ghost:link, .btn-ghost:visited {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    margin-left: 20px;
}

.btn:hover, .btn:active {
    background-color: var(--secondary-color);
    color: #fff;
}

.btn-ghost:hover, .btn-ghost:active {
    border: 1px solid var(--secondary-color);
    color: #fff;
}

.btn-myths:link, .btn-myths:visited {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
}

.btn-myths:hover, .btn-myths:active {
    background-color: var(--secondary-color);
    color: #fff;
}

.btn-white:link, .btn-white:visited {
    padding: 8px 0;
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.btn-card:link, .btn-card:visited {
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.btn-white:hover, .btn-white:active, 
.btn-card:hover, .btn-card:active { 
    border-bottom: 2px solid var(--secondary-color);   
}

.social:hover, .social:active,
.navigation:hover, .navigation:active {
    padding: 8px 0;
    transition: border-bottom 0.2s;
    border-bottom: 2px solid var(--secondary-color);
}

.btn-about:link, .btn-about:visited {
    margin-right: 20px; 
    padding: 8px 0;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    border-bottom: 2px solid var(--secondary-color);   
    transition: border-bottom 0.2s;
}

.btn-about:hover, .btn-about:active { 
    border-bottom: 2px solid transparent;
}

/* ---INFO--- */
.info {
  margin-bottom: 1.5rem;
  text-align: center;
}

.myths {
    margin: 50px;
}

.info p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.circular {
    border-radius: 50%;
}

.info-headings {
    margin: 20px auto;
}

.emphasis {
    color: var(--secondary-color);
    font-weight: bold;
}

/* ---CARDS ---*/
.card-fade {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/images/world-day.jpg);
    background-position: center;
}

.card-fade-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/images/vitiligo_beauty.jpg);
    background-position: center;
}

.card-fade-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/images/pexels-armin-rimoldi-coloured.jpg);
    background-position: center;
}

/* ---ABOUT--- */
.profile {
    opacity: 0.3;
    border-radius: 30px;
}
.profile:hover {
  opacity: 0.5;
}

.bg-teal {
    background-color: var(--secondary-color);
}

.about-more {
    margin-bottom: 30px;
}

.about-boxes {
    width: 80%; 
    height: 300px; 
    border-radius: 21px 21px 0 0;
}

.icon {
    color: var(--secondary-color);
}

/* ---FAQs--- */
.faqs {
    margin: 0 auto;
    max-width: 960px;
}

summary {
  font-size: 1.25rem;
  font-weight: 600;
  background-image: linear-gradient(to right, #212121, #6D9886);
  color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  outline: none;
  border-radius: 0.25rem;
  text-align: left;
  cursor: pointer;
  position: relative;
}
details > summary::after {
  position: absolute;
  content: "+";
  right: 20px;
}
details[open] > summary::after {
  position: absolute;
  content: "-";
  right: 20px;
}
details > summary::-webkit-details-marker {
  display: none;
}

details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}
@keyframes sweep {
  0%    {opacity: 0; margin-top: -10px}
  100%  {opacity: 1; margin-top: 0px}
}

.faq-answer {
    padding: 0 20px;
}

.faq-common {
    margin: 10px 20px;
}

.resource {
    color: var(--secondary-color);
}